[init]
	defaultBranch = main
[user]
    email = 138978873+haruki-nguyen@users.noreply.github.com
	name = Haruki Nguyen
[safe]
	directory = C:/Users/nmdex/Documents/Projects/University
[pull]
	rebase = false
